/* (*・‿・)ノ⌒*:･ﾟ✧ */

/*Size of iframe depends on screen and border*/
iframe {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  width: calc(100% - 4px);
  height: calc(100% - 59px);
  border: 2px solid #FBAA6D;
  margin: 0 auto;
  padding: 0;
}

#hextractor-ui {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/*Setting defaults styles*/
div#hextractor-controls {
  cursor: default;
  position: relative;
  font-family: sans-serif;
  font-size: 13px;
  color: #555555;
  position: fixed;
  left: 0;
  top: 0;
  height: 35px;
  width: 100%;
  background-color: white;
  padding: 10px;
}

/*General style for button*/
#hextractor-controls button {
  font-size: 13px;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #48C8D7;
  width: 7em;
  height: 35px;
  margin-right: 1em;
  color: #48C8D7;

}
#hextractor-controls button:hover{
  background-color: #ebf9fb;
}

/*Counter*/
#hextractor-controls #prev-btn {
  margin: 0 .5em;
}
span {
  color: #555555;
  cursor: default;
  font-size: 13px;
}
#hextractor-controls #next-btn {
  margin-left: .5em;
}

/*Document currently being viewed in iframe*/
#hextractor-controls #current-doc-name {
  height: 30px;
  font-size: 13px;
  cursor: default;
  border: 2px solid transparent;
  background-color: #f2f2f2;
  border-radius: 3px;
  width: 45%;
  padding: 0 1em;
  margin: 0 2em 0 1em;
}

/*Execute button*/
#hextractor-controls button#complete-btn {
  color: white;
  background-color: #FBAA6D;
  border: 1px solid #FBAA6D;
  font-size: 16px;
  width: 3.2em;
}
#hextractor-controls button#complete-btn:hover {
  border: 1px solid #FC8429;
  cursor: pointer;
}
#hextractor-controls button#complete-btn.disabled {
  color: white;
  background-color: #aaaaaa;
  border: 1px solid #aaaaaa;
}
#hextractor-controls button#complete-btn.disabled:hover {
  border: 1px solid #555555;
  cursor: not-allowed;
}

/*Cancel button*/
#hextractor-controls button#cancel-btn {
  border: 0;
  color: #555555;
  border: none;
  right: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#hextractor-controls button#cancel-btn:hover {
  color: #2B2A2A;
  background: #eeeeee;
}


#hext-overlay,
#directory-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  z-index: 999;
}

#hext-overlay p,
#directory-loader #directory-instructions {
  padding-top: 5%;
  font-size: 2em;
}

#directory-loader input#directory-selector {
  margin: 50px;
  padding: 50px;
  width: 30%;
  border: 1px dashed black;
  text-align: center;
  border-radius: 10px;
}

#hext-overlay p,
#directory-loader p {
  margin: 25px;
}

#hext-overlay #hext-area {
  padding: 5px 100px 10px 100px;
  font-family: monospace;
  max-height: 200px;
  overflow-y: scroll;
  max-width: 900px;
  margin: 0 auto;
}

#loading-shim {
  background-color: rgba(255, 255, 255, 0.91);
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  font-family: monospace;
  font-size: 25px;
  margin-left: -10px;
  display: none;
  margin-top: 50px;
}

#hextractor-selected-menu {
  font-size: 11px !important;
  font-family: sans-serif !important;
  background-color: white !important;
  border-radius: 0 0 5px 5px;
  border: 2px solid #00CBE1;
  margin-left: -2px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  max-width: 24rem;
  padding: 5px;
  z-index: 99999;
}

#hextractor-selected-menu .hextractor-help {
  width: 12px;
  height: 16px;
  color: white;
  background-color: #268BD2;
  border-radius: 12px;
  display: inline-block;
  padding-left: 5px;
  padding-top: 2px;
  text-decoration: none;
  font-weight: bold;
}

#hextractor-column-name {
  margin: 0 10px 0 5px;
  margin: 0 10px 0 5px;
  border-style: outset;
  border-color: transparent;
  border-radius: 3px;
  border: 2px solid transparent;
  background-color: #eeeeee;
}
#hextractor-column-name:focus {
  border-color: #FBAA6D;
  outline:transparent;
}
#hextractor-column-name:hover {
  border-color: rgba(0, 0, 0, 0.05);
  outline:transparent!important;
  cursor: pointer;
}
#hextractor-column-name:hover:focus {
  border-color: #FBAA6D;
}

#hextractor-save, #hextractor-cancel {
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
#hextractor-save:hover, #hextractor-cancel:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

#hextractor-optional {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#hextractor-optional:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

#hextractor-selected-menu button.selected {
  background-color: #666666;
  color: #ffffff;
  border-right-color: #000000;
  border-bottom-color: #000000;
  border-top-color: #333333;
  border-left-color: #333333;
}
