iframe {
  position: absolute;
  top: 60px;
  width: 90%;
  height: 85%;
  border: 2px solid black;
  margin: 0 auto;
  padding: 0;
}

#autoscrape-extractor-ui {
  display: flex;
  flex-flow: column;
  height: 100%;
}

div#autoscrape-controls {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  padding-left: 5px;
  padding-top: 15px;
}

#autoscrape-controls button {
  border-radius: 12px;
  line-height: 2.2em;
  width: 7em;
}

#autoscrape-controls #prev-btn {
  color: #FBAA6D;
  background-color: white;
  border: 1px solid #FBAA6D;
}

#autoscrape-controls #next-btn {
  background-color: #FBAA6D;
  color: white;
  border: none;
}

#autoscrape-controls button#cancel-btn {
  border: 1px solid #555 !important;
  background-color: white;
  border: none;
}

#autoscrape-controls #complete-btn {
  color: #86F3FF;
  background-color: white;
  border: 1px solid #86F3FF;
}

#autoscrape-controls #current-doc-name {
  width: 50%;
}

#hext-overlay,
#directory-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  z-index: 999;
}

#hext-overlay p,
#directory-loader p {
  padding-top: 5%;
}

#directory-loader input {
  margin: 50px;
  padding: 50px;
  width: 30%;
  border: 1px dashed black;
  text-align: center;
  border-radius: 10px;
}

#hext-overlay p,
#directory-loader p {
  margin: 25px;
}

#hext-overlay #hext-area {
  padding: 5px 100px 10px 100px;
  font-family: monospace;
  max-height: 200px;
  overflow-y: scroll;
  max-width: 900px;
  margin: 0 auto;
}

