.autoscrape-over {
  box-shadow: 0px 0px 0px 2px #FBAA6D;
}
.autoscrape-selected {
  background-color: #86F3FF !important;
}
.autoscrape-selected-parent {
  box-shadow: 0px 0px 0px 2px #FBAA6D;
}

#autoscrape-extractor-ui {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#autoscrape-controls {
  margin-bottom: 10px;
  height: 50px;
}

iframe#main {
  position: absolute;
  top: 60px;
  width: 90%;
  height: 85%;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

#autoscrape-controls button {
  border-radius: 12px;
  line-height: 2.2em;
  width: 7em;
}

#autoscrape-controls #prev {
  color: #FBAA6D;
  background-color: white;
  border: 1px solid #FBAA6D;
}

#autoscrape-controls #next {
  background-color: #FBAA6D;
  color: white;
  border: none;
}

#autoscrape-controls #cancel {
  background-color: white;
  border: none;
}

#autoscrape-controls #complete {
  color: #86F3FF;
  background-color: white;
  border: 1px solid #86F3FF;
}

#autoscrape-controls #current-url {
  width: 50%;
}

